.charSelect-input {
  border: 1px solid black;
}

.statSelect {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.statSelect-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statSelect-buttonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statSelect-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.statSelect-hi {
  text-align: center;
}

.statSelect__right {
  margin-left: auto;
}

.statSelect__right-img {
  height: 400px;
  width: 150px;
}

.statSelect__statDiv-ul {
  list-style: none;
}

.statSelect__statDiv-li {
  text-transform: uppercase;
}

.statSelect__talentDiv {
  position: relative;
}

.statSelect__talentDiv:hover {
  cursor: pointer;
}

.statSelect__talent-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: white;
}

.statSelect__talent-info {
  text-transform: capitalize;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.statSelect__talentDiv:hover .statSelect__talent-overlay {
  opacity: 0.9;
}

.start {
  height: 100%;
}

.start-statDiv {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: shrinkIntoIcon 3s 2s forwards;
          animation: shrinkIntoIcon 3s 2s forwards;
}

.start-title {
  font-size: 50px;
}

.start-statList {
  list-style: none;
  padding: 0;
  font-size: 30px;
  text-align: center;
}

.start-inventory {
  position: absolute;
  bottom: 0px;
  left: 48%;
}

.start-inventoryImg {
  width: 50px;
  height: 50px;
}

.start-inventoryImg:hover {
  cursor: pointer;
}

.start-modoBackGround {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.start-popupModo {
  width: 60%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.start-modoClose {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.start-modoClose:hover {
  cursor: pointer;
}

.start-modoClose:focus {
  outline: none;
}

.start-modoStatList {
  list-style: none;
  padding: 0;
  text-align: center;
}

.start-modoStatDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.start-modoEquipDiv {
  width: 20%;
  position: relative;
}

.start-modoEquipaDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  margin: auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-modoEquipTitle {
  position: absolute;
  left: 1%;
  top: 1%;
  width: 100%;
  text-align: center;
}

.start-modoEquipBox {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 50px 0;
}

.start-modoEquipBox-1 {
  background-image: url("../assets/icons/sword-wound.svg");
}

.start-modoEquipBox-2 {
  background-image: url("../assets/icons/black-shield.svg");
}

.start-modoEquipBox-3 {
  background-image: url("../assets/icons/chest-armor.svg");
}

.start-modoEquipBox-4 {
  background-image: url("../assets/icons/leg-armor.svg");
}

.start-modoInvDiv {
  width: 30%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.start-modoInvTitle {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 100%;
  text-align: center;
}

.start-modoInv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  height: 85%;
}

.start-modoInvBox {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
}

.start-modoStatTitle {
  position: absolute;
  left: 1%;
  top: 1%;
  text-align: center;
  width: 100%;
}

.start-header {
  height: 10vh;
  width: 100%;
  -webkit-animation: turnBlack 1s 3s forwards;
          animation: turnBlack 1s 3s forwards;
}

.start-footer {
  height: 10vh;
  width: 100%;
  -webkit-animation: turnBlack 1s 3s forwards;
          animation: turnBlack 1s 3s forwards;
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.start-modoLiExp {
  margin-bottom: 10px;
}

.start-monsterDiv {
  position: absolute;
  top: 10vh;
  left: -100vw;
  -webkit-animation: moveRight 2s 5s forwards;
          animation: moveRight 2s 5s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-monsterDiv img {
  height: 50vh;
  width: 40vw;
}

.start-monsterDiv h3 {
  margin-left: 30px;
}

.start-actionDiv {
  position: absolute;
  top: 70vh;
  right: -100vw;
  -webkit-animation: moveLeft 2s 5s forwards;
          animation: moveLeft 2s 5s forwards;
}

.start-retryDiv {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  height: 30vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.start-BigRetryDiv {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
}

.start-retryButtonDiv button {
  margin: 0 10px;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
}

.start-retryButtonDiv button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

@-webkit-keyframes shrinkIntoIcon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    margin-top: 30%;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

@keyframes shrinkIntoIcon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    margin-top: 30%;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

@-webkit-keyframes turnBlack {
  100% {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes turnBlack {
  100% {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@-webkit-keyframes moveRight {
  100% {
    left: 0;
  }
}

@keyframes moveRight {
  100% {
    left: 0;
  }
}

@-webkit-keyframes moveLeft {
  100% {
    right: 10vw;
  }
}

@keyframes moveLeft {
  100% {
    right: 10vw;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */